.backup-wrapper {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
  font-family: system-ui, sans-serif;
  text-align: center;
}
